
<div class="panel panel-default question" question-id="{{ question.id }}">
  <div class="panel-heading">
    <h3 class="panel-title">
        <a href="{% url 'questions:question_spec' question.pk %}">{{ question.title }}</a>
    </h3>
  </div>

  <div class="panel-body clearfix">
    <div class="question-info">

      <div class="info">
        <h5><span class="glyphicon glyphicon-comment"></span> Answers</h5>
        <span>{{ question.get_answers_count }}</span>
      </div>

    </div>

    <div class="question-user">

      <p>{{ question.asked_by }}</p>
      <span class="asked">asked {{ question.create_date | timesince }}</span>
    </div>
    <div class="question-description well">
      {{ question.get_description_preview_as_markdown|safe }}
    </div>

  </div>
</div>
