{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
  <link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
  <h1 class="logo"><a href="{% url 'temp:login' %}">Lifeline Help</a></h1>
  <div class="signup" style="text-align: center">
    <h2>{% trans 'Sign up for Lifeline' %}</h2>
    <form action="{% url 'temp:signup' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
        <br>
          {{ field }}

          {% for error in field.errors %}
              <br>
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        <hr>
        </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-lg">{% trans 'Create an account' %}</button>
    </form>
  </div>
{% endblock body %}
